<div>
  <div>
    <div class="title">①課題</div>
    <div class="content">{{ canvas.problem }}</div>
  </div>
  <div>
    <div>
      <div class="title">④ソリューション</div>
      <div class="content">{{ canvas.solution }}</div>
    </div>
    <div>
      <div class="title">⑧主要指標</div>
      <div class="content">{{ canvas.kpi }}</div>
    </div>
  </div>
  <div>
    <div class="title">③独自の提供価値</div>
    <div class="content">{{ canvas.value }}</div>
  </div>
  <div>
    <div>
      <div class="title">⑨圧倒的な優位性</div>
      <div class="content">{{ canvas.superiority }}</div>
    </div>
    <div>
      <div class="title">⑤チャネル</div>
      <div class="content">{{ canvas.channel }}</div>
    </div>
  </div>
  <div>
    <div class="title">②顧客セグメント</div>
    <div class="content">{{ canvas.client }}</div>
  </div>
</div>
<div>
  <div>
    <div class="title">⑦コスト構造</div>
    <div class="content">{{ canvas.cost }}</div>
  </div>
  <div>
    <div class="title">⑥収益の流れ</div>
    <div class="content">{{ canvas.benefit }}</div>
  </div>
</div>
